/*  tag selector(using tag changing the colours) */
body{
    background-color:#EAF6F6;
}
hr{
    border-color: grey;
    border-style:dotted;
    border-top-style: none;
    border-width: 5px;
    background: none;
    width: 6%;
}
/* class selector(creating and using class changing the colours)*/
.skill{
    color: mediumvioletred;
}
.hobby{
    color:crimson;
}
.education{
    color:gold;
}
.feedback{
    color:orchid;
}
.circular{
    border-radius: 100%;
}